<!doctype html>
<!--[if lte IE 9]> <html class="lte-ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Remove Tap Highlight on Windows Phone IE -->
    <meta name="msapplication-tap-highlight" content="no"/>

    <link rel="icon" type="image/png" href="/frontend_js_css/assets/img/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/frontend_js_css/assets/img/favicon-32x32.png" sizes="32x32">

    <title>Incent by Bitscan</title>

    <!-- uikit -->
    <link rel="stylesheet" href="/frontend_js_css/bower_components/uikit/css/uikit.almost-flat.min.css" media="all">

    <!-- altair landing page -->
    <link rel="stylesheet" href="/frontend_js_css/assets/css/main.css" media="all">

    <!-- matchMedia polyfill for testing media queries in JS -->
    <!--[if lte IE 9]>
    <script type="text/javascript" src="/frontend_js_css/bower_components/matchMedia/matchMedia.js"></script>
    <script type="text/javascript" src="/frontend_js_css/bower_components/matchMedia/matchMedia.addListener.js"></script>
    <![endif]-->
</head>
<body>
<!-- navigation -->
<header id="header_main">
    <nav class="uk-navbar">
        <div class="uk-container uk-container-center">
            <a href="/" class="uk-navbar-brand">
                <img src="/frontend_js_css/assets/img/incent_light.png" alt="" style="width:124px;">
            </a>
            <div class="uk-navbar-flip">
                <a href="#" id="mobile_navigation_toggle" data-uk-offcanvas="{target:'#mobile_navigation'}"><i class="material-icons">&#xE5D2;</i></a>
                <ul class="uk-navbar-nav" id="main_navigation">
                    <li>
                        <a href="/#strap">
                            Incent
                        </a>
                    </li>

                    <li>
                        <a href="/#sect-team">
                            Who's behind Incent
                        </a>
                    </li>
                    <li>
                        <a href="/#faq">
                            FAQ
                        </a>
                    </li>
                    <li>
                        <a href="/#sect-contact">
                            Contact
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div id="mobile_navigation" class="uk-offcanvas">
    <div class="uk-offcanvas-bar">
        <ul>
            <li>
                <a href="/#strap" data-uk-smooth-scroll="{offset: 48}">
                    <span class="menu_icon"><i class="material-icons">&#xE417;</i></span>
                    <span class="menu_title">Incent</span>
                </a>
            </li>

            <li>
                <a href="/#sect-team" data-uk-smooth-scroll="{offset: 48}">
                    <span class="menu_icon"><i class="material-icons">&#xE7FB;</i></span>
                    <span class="menu_title">Who's behind Incent</span>
                </a>
            </li>
            <li>
                <a href="/#faq" data-uk-smooth-scroll="{offset: 48}">
                    <span class="menu_icon"><i class="material-icons">&#xE0E1;</i></span>
                    <span class="menu_title">FAQ</span>
                </a>
            </li>
            <li>
                <a href="/#sect-contact" data-uk-smooth-scroll="{offset: 48}">
                    <span class="menu_icon"><i class="material-icons">&#xE0E1;</i></span>
                    <span class="menu_title">Contact</span>
                </a>
            </li>
        </ul>
    </div>
</div>

<section class="section section_dark md-bg-indigo-700" id="strap" style="background-color: #f7921a !important">
    <p class="uk-container uk-container-center animate" data-uk-scrollspy="{cls:'uk-animation-slide-right animated',target:'> *',delay:300}">

    <div class="uk-container uk-container-center">
        <div class="uk-grid">
            <div class="uk-width-large-4-5 uk-container-center uk-text-center">

                <div class="uk-text-center">
                    <img src="/media/hny2017.png" />
                </div>
            </div></div></div>
    <h2 class="heading_a heading_light uk-text-center-medium uk-text-center">
        <span class="sub-heading">
            See below for a timeline and further information on our next steps<br />
                </span><br />
        <a class="md-btn md-btn-large" href="/ico" style="margin-top: 7px;">ICO Dashboard</a>
        <a class="md-btn md-btn-large" href="/login" style="margin-top: 7px;">Login</a>
    </h2>
    </div>
</section>


<section class="section section_gallery md-bg-blue-grey-50" id="sect-gallery">
    <div class="uk-container uk-container-center">

        <h2>The Incent team is hard at work preparing launches of several major planks of the Incent platform throughout Quarter 1 of 2017.</h2>

        <h3>Join us on Slack for the latest updates!</h3>


    </div>
</section>




<section class="section md-bg-blue-grey-50" id="sect-team">
    <div class="uk-container uk-container-center uk-invisible" data-uk-scrollspy="{cls:'uk-animation-scale-up uk-invisible',delay:300,topoffset:-100}">
        <div class="uk-grid uk-margin-large-bottom">
            <div class="uk-width-large-3-5 uk-container-center uk-text-center">
                <h2 class="heading_b">
                    Who's behind Incent
                    <span class="sub-heading">Check out our team and tech;</span>
                </h2>
            </div>
        </div>
        <div class="uk-tab-center uk-margin-medium-bottom">
            <ul class="uk-tab uk-tab-large" data-uk-tab="{connect:'#team_tabbed',animation: 'slide-bottom'}">
                <li class="uk-active"><a href="#">Team</a></li>
                <li><a href="#">Technology</a></li>
            </ul>
        </div>
        <ul id="team_tabbed" class="uk-switcher uk-margin">
            <li>
                <div class="uk-grid uk-grid-medium uk-grid-width-small-1-2 uk-grid-width-medium-1-3 uk-grid-width-large-1-4" data-uk-grid-margin>


                    <div>
                        <div class="md-card md-card-hover md-card-overlay">
                            <div class="md-card-head">
                                <div class="uk-text-center">
                                    <img class="md-card-head-avatar" src="https://crunchbase-production-res.cloudinary.com/image/upload/c_pad,h_140,w_140/v1423455127/onr2ufurof1hhqu86dl5.jpg" alt=""/>
                                </div>
                                <h3 class="md-card-head-text uk-text-center">
                                    Rob Wilson
                                    <span class="uk-text-truncate">BitScan co-founder and CEO</span>
                                </h3>
                            </div>

                            <div class="md-card-overlay-content">
                                <div class="uk-clearfix md-card-overlay-header">
                                    <i class="md-icon md-icon material-icons md-card-overlay-toggler" data-uk-modal="{target:'#rob_bio'}">&#xE5D4;</i>
                                    <h3>
                                        Read more about Rob
                                    </h3>
                                </div>
                            </div>

                        </div>
                    </div>




                    <div>
                        <div class="md-card md-card-hover md-card-overlay">
                            <div class="md-card-head">
                                <div class="uk-text-center">
                                    <img class="md-card-head-avatar" src="/frontend_js_css/assets/img/team/peter2.jpg" alt=""/>
                                </div>
                                <h3 class="md-card-head-text uk-text-center">
                                    Peter Godbolt
                                    <span class="uk-text-truncate">BitScan co-founder and Technical Director</span>
                                </h3>
                            </div>

                            <div class="md-card-overlay-content">
                                <div class="uk-clearfix md-card-overlay-header">
                                    <i class="md-icon md-icon material-icons md-card-overlay-toggler" data-uk-modal="{target:'#peter_bio'}">&#xE5D4;</i>
                                    <h3>
                                        Read more about Peter
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div>
                        <div class="md-card md-card-hover md-card-overlay">
                            <div class="md-card-head">
                                <div class="uk-text-center">
                                    <img class="md-card-head-avatar" src="/frontend_js_css/assets/img/team/richard.jpg" alt=""/>
                                </div>
                                <h3 class="md-card-head-text uk-text-center">
                                    Richard Farrelly
                                    <span class="uk-text-truncate">MD Australia</span>
                                </h3>
                            </div>

                            <div class="md-card-overlay-content">
                                <div class="uk-clearfix md-card-overlay-header">
                                    <i class="md-icon md-icon material-icons md-card-overlay-toggler" data-uk-modal="{target:'#richard_bio'}">&#xE5D4;</i>
                                    <h3>
                                        Read more about Richard
                                    </h3>
                                </div>
                            </div>

                        </div>
                    </div>


                    <div>
                        <div class="md-card md-card-hover md-card-overlay">
                            <div class="md-card-head">
                                <div class="uk-text-center">
                                    <img class="md-card-head-avatar" src="https://wavesplatform.com/images/faces/guy_brandon_c.jpg" alt=""/>
                                </div>
                                <h3 class="md-card-head-text uk-text-center">
                                    Guy Brandon
                                    <span class="uk-text-truncate">Communications Director</span>
                                </h3>
                            </div>

                            <div class="md-card-overlay-content">
                                <div class="uk-clearfix md-card-overlay-header">
                                    <i class="md-icon md-icon material-icons md-card-overlay-toggler" data-uk-modal="{target:'#guy_bio'}">&#xE5D4;</i>
                                    <h3>
                                        Read more about Guy
                                    </h3>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div>
                        <div class="md-card md-card-hover md-card-overlay">
                            <div class="md-card-head">
                                <div class="uk-text-center">
                                    <img class="md-card-head-avatar" src="/frontend_js_css/assets/img/team/freya.jpg" alt=""/>
                                </div>
                                <h3 class="md-card-head-text uk-text-center">
                                    Freya Stevens
                                    <span class="uk-text-truncate">Marketing Director</span>
                                </h3>
                            </div>

                            <div class="md-card-overlay-content">
                                <div class="uk-clearfix md-card-overlay-header">
                                    <i class="md-icon md-icon material-icons md-card-overlay-toggler" data-uk-modal="{target:'#freya_bio'}">&#xE5D4;</i>
                                    <h3>
                                        Read more about Freya
                                    </h3>
                                </div>
                            </div>

                        </div>
                    </div>


                    <div>
                        <div class="md-card">
                            <div class="md-card-head">
                                <div class="uk-text-center">
                                    <img class="md-card-head-avatar" src="/frontend_js_css/assets/img/team/tara.jpg" alt=""/>
                                </div>
                                <h3 class="md-card-head-text uk-text-center">
                                    Tara Kemp
                                    <span class="uk-text-truncate">Social Media</span>
                                </h3>
                            </div>
                        </div>
                    </div>


                    <div>
                        <div class="md-card md-card-hover md-card-overlay">
                            <div class="md-card-head">
                                <div class="uk-text-center">
                                    <img class="md-card-head-avatar" src="/frontend_js_css/assets/img/team/Karl.jpg" alt=""/>
                                </div>
                                <h3 class="md-card-head-text uk-text-center">
                                    Karl Karlsson
                                    <span class="uk-text-truncate">Community Manager</span>
                                </h3>
                            </div>

                            <div class="md-card-overlay-content">
                                <div class="uk-clearfix md-card-overlay-header">
                                    <i class="md-icon md-icon material-icons md-card-overlay-toggler" data-uk-modal="{target:'#karl_bio'}">&#xE5D4;</i>
                                    <h3>
                                        Read more about Karl
                                    </h3>
                                </div>
                            </div>

                        </div>
                    </div>



                </div>
            </li>
            <li>
                <div class="uk-grid uk-grid-medium uk-grid-width-small-1-2 uk-grid-width-medium-1-3 uk-grid-width-large-1-4" data-uk-grid-margin>

                    <div>
                        <div class="md-card">
                            <div class="md-card-head">
                                <div class="uk-text-center">
                                    <img class="md-card-head-avatar" src="https://lh3.googleusercontent.com/-whXBCDVxIto/Vz2Rsyz-UjI/AAAAAAAAiJc/UjvR-M2b9tY5SyKFkDY6Q_MbusEINRXkQ/w1024-h1024/Firebase_16-logo.png" alt=""/>
                                </div>
                                <h3 class="md-card-head-text uk-text-center">
                                    Google Firebase
                                    <span class="uk-text-truncate">Enterprise performance at scale</span>
                                </h3>
                            </div>
                        </div>
                    </div>


                    <div>
                        <div class="md-card">
                            <div class="md-card-head">
                                <div class="uk-text-center">
                                    <img class="md-card-head-avatar" src="https://www.algolia.com/static_assets/images/flat2/integrations/algolia-5c46abcf.jpg" alt=""/>
                                </div>
                                <h3 class="md-card-head-text uk-text-center">
                                    Algolia
                                    <span class="uk-text-truncate">Instant search and discovery</span>
                                </h3>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="md-card">
                            <div class="md-card-head">
                                <div class="uk-text-center">
                                    <img class="md-card-head-avatar" src="https://bitscan.com/sites/bitscan/assets/images/footer-logo.png" alt=""/>
                                </div>
                                <h3 class="md-card-head-text uk-text-center">
                                    Bitscan
                                    <span class="uk-text-truncate">Platform operator</span>
                                </h3>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="md-card">
                            <div class="md-card-head">
                                <div class="uk-text-center">
                                    <img class="md-card-head-avatar" src="https://wavesplatform.com/src/img/logo-one.svg" alt=""/>
                                </div>
                                <h3 class="md-card-head-text uk-text-center">
                                    Waves
                                    <span class="uk-text-truncate">Blockchain / token technology</span>
                                </h3>
                            </div>
                        </div>
                    </div>


                </div>
            </li>
        </ul>
    </div>
</section>


<div class="uk-modal" id="rob_bio">
    <div class="uk-modal-dialog uk-modal-dialog-large">
        <div class="uk-modal-header">
            <h3 class="uk-modal-title">Rob Wilson, Bitscan co-founder and CEO</h3>
        </div>
        <p>                                    Rob's formative career was in the military, where he enjoyed 2 front-line commands and lectured strategy at USNWC.  A self-taught financial trader he left service to manage private money. Bitcoin caught his attention in 2013 and he founded BitScan with the aim of building adoption through commerce. BitScan has grown to become the largest  directory of bitcoin enabled enterprises on the planet.
        </p>

        <div class="uk-modal-footer uk-text-right">
            <button type="button" class="md-btn md-btn-flat uk-modal-close">OK</button>
        </div>
    </div>
</div>
<div class="uk-modal" id="karl_bio">
    <div class="uk-modal-dialog uk-modal-dialog-large">
        <div class="uk-modal-header">
            <h3 class="uk-modal-title">Karl Karlsson, Community Manager</h3>
        </div>
        <p>Cyrille (@karlkarlsson) has been a long-time Nxt community member and supported community projects for several months. He found his passion for digital currencies during the time he worked for a major Swiss financial institution. Currently, he is an undergraduate in the Bachelor's degree program in International Management. Within the team his responsibilities lay in community management and marketing.
        </p>

        <div class="uk-modal-footer uk-text-right">
            <button type="button" class="md-btn md-btn-flat uk-modal-close">OK</button>
        </div>
    </div>
</div>
<div class="uk-modal" id="scott_bio">
    <div class="uk-modal-dialog uk-modal-dialog-large">
        <div class="uk-modal-header">
            <h3 class="uk-modal-title">Scott Verney, MD Europe</h3>
        </div>
        <p>Scott served a varied 21-year career in the Royal Navy, seeing active service in the Gulf and in other hot spots including Sierra Leone and Cambodia before commanding 3 times. He left to pursue a commercial career with Waitrose, quickly rising to run their e-commerce operations.  Incent is the next step in a second career focussed on consumer experience
        </p>

        <div class="uk-modal-footer uk-text-right">
            <button type="button" class="md-btn md-btn-flat uk-modal-close">OK</button>
        </div>
    </div>
</div>
<div class="uk-modal" id="freya_bio">
    <div class="uk-modal-dialog uk-modal-dialog-large">
        <div class="uk-modal-header">
            <h3 class="uk-modal-title">Freya Stevens, Marketing Director</h3>
        </div>
        <p>Freya is a marketing professional that holds a masters in Media and Communications, Freya has extensive experience within the Bitcoin and Blockchain industry. She has previously worked for the Bitcoin wallet company Coinapult and the German bitcoin service Cubits. In her spare time she created the Bitcoin UK Podcast to give a voice to the industry developing in the UK and has also been active in co-organising the Cambridge Bitcoin Meetup and the Cambridge University Cryptocurrency Society.
        </p>

        <div class="uk-modal-footer uk-text-right">
            <button type="button" class="md-btn md-btn-flat uk-modal-close">OK</button>
        </div>
    </div>
</div>
<div class="uk-modal" id="guy_bio">
    <div class="uk-modal-dialog uk-modal-dialog-large">
        <div class="uk-modal-header">
            <h3 class="uk-modal-title">Guy Brandon, Communications Director</h3>
        </div>
        <p>Guy Brandon is a UK-based writer and communicator who has been active in the cryptocurrency world since early 2014. Since then he has worked on a wide range of blockchain-based projects. He has been BitScan's BitBuzz editor since March 2015 and is also the Communications Director for the Waves platform.
        </p>

        <div class="uk-modal-footer uk-text-right">
            <button type="button" class="md-btn md-btn-flat uk-modal-close">OK</button>
        </div>
    </div>
</div>
<div class="uk-modal" id="richard_bio">
    <div class="uk-modal-dialog uk-modal-dialog-large">
        <div class="uk-modal-header">
            <h3 class="uk-modal-title">Richard Farrelly, MD Australia</h3>
        </div>
        <p>

            Richard began his career at Arthur Andersen Business Consulting during the dotcom boom, worked at Deloitte Consulting and latterly Accenture specialising in Online, Sales, Marketing and Customer Experience Strategy and Operations.
        </p><p>
        Having spent time serving in the Royal Australian Navy he is now excited about the prospect of leading Incent’s disruption of the Australian marketplace and uncovering, leveraging and exploiting the huge opportunities it introduces.
    </p>

        <div class="uk-modal-footer uk-text-right">
            <button type="button" class="md-btn md-btn-flat uk-modal-close">OK</button>
        </div>
    </div>
</div>
<div class="uk-modal" id="peter_bio">
    <div class="uk-modal-dialog uk-modal-dialog-large">
        <div class="uk-modal-header">
            <h3 class="uk-modal-title">Bitscan co-founder and Technical Director</h3>
        </div>
        <p>
            Peter began his career on the wave of the first dotcom boom in London, and has been developing app.s and websites ever since. A relocation to Australia followed, leading to a meetup with Rob, and work on the development of the Bitscan platform.        </p><p>

        An enthusiastic supporter of crypto-currency he is responsible for the technical direction and implementation of the Incent application, and its integration with the Waves blockchain.

    </p>

        <div class="uk-modal-footer uk-text-right">
            <button type="button" class="md-btn md-btn-flat uk-modal-close">OK</button>
        </div>
    </div>
</div>


<section class="section"id="faq">
    <div class="uk-container uk-container-center">
        <div class="uk-grid" data-uk-grid-margin>

            <div class="uk-width-large-3-3 uk-container-center uk-text-center">
                <h2 class="heading_b">
                    Frequently Asked Questions
                </h2>
            </div>

            <div class="uk-width-large-3-3 uk-invisible" data-uk-scrollspy="{cls:'uk-animation-slide-right uk-invisible',delay:800,topoffset:-100}">
                <div class="uk-accordion" data-uk-accordion>
                    <h3 class="uk-accordion-title">What is Incent</h3>
                    <div class="uk-accordion-content">
                        <p>
                            Incent is both a cryptographic token and a loyalty eco-system, which allows merchant clients to incentivise custom by rewarding their customers, at the point of transaction, which has the unique property of being convertible on the Waves blockchain.
                        </p>                        </div>

                    <h3 class="uk-accordion-title">Is there a market for Incent?</h3>
                    <div class="uk-accordion-content">
                        <p>
                            Yes! Both our market research and business development activity prove that merchants are crying out for a better loyalty solution.
                        </p>                        </div>

                    <h3 class="uk-accordion-title">Who issues Incent?</h3>
                    <div class="uk-accordion-content">
                        <p>
                            BitScan buys Incent at the Waves market rate whenever a merchant transacts and issues it to customers as instructed by the merchant.
                        </p>                        </div>

                    <h3 class="uk-accordion-title">If Incent is on a blockchain, is it the same as Bitcoin?</h3>
                    <div class="uk-accordion-content">
                        <p>
                            Similar, the only difference being that Incent operates on a ‘proof of stake’ model with circulation driven by merchant transaction volume, as opposed to a ‘proof of work’ algorithm.
                        </p>                        </div>
                    <h3 class="uk-accordion-title">How will Incent be used in practice?</h3>
                    <div class="uk-accordion-content">
                        <p>
                            Incent is intended to be used as a next generation loyalty-reward currency, which allows merchants to reward consumers with a far more compelling value proposition for far less cost.
                        </p>                        </div>
                    <h3 class="uk-accordion-title">Who decides how much 'Incent' is worth?</h3>
                    <div class="uk-accordion-content">
                        <p>
                            Because Incent is a tradeable on Waves’ exchange, market forces decide how much Incent is worth. However, with merchant dollars continually driving demand, the conditions are stable, liquid and appreciating asset are baked-in from day one.
                        </p>                        </div>
                    <h3 class="uk-accordion-title">Who's behind this?</h3>
                    <div class="uk-accordion-content">
                        <p>
                            Incent, and its merchant and consumer facing applications are operated and managed by BitScan through integration with the Waves platform.
                        </p>                        </div>
                    <h3 class="uk-accordion-title">Can I get involved?</h3>
                    <div class="uk-accordion-content">
                        <p>
                            Absolutely. Incent, the digital token, will be launched via ICO in October / November 2016.
                        </p><p>
                        Following the ICO we’ll be on the hunt for developers to help us build-out our technical  infrastructure and merchant plug-ins.
                    </p><p>
                        Following launch we’ll be rewarding those keen to help us build-out the Incent ecosystem.
                    </p>                        </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section section_large md-bg-blue-grey-50" id="sect-contact">
    <div class="uk-container uk-container-center">
        <div class="uk-grid uk-grid-divider" data-uk-grid-margin>
            <div class="uk-width-large-2-5">
                <h3 class="heading_c uk-margin-large-bottom">Join us on Slack</h3>

                <p>You can email us at any time on incent@bitscan.co, but if you'd prefer a live response, or if you'd like to ask questions, and discuss Incent further with both the team and the broader community of interested parties, join our Slack by clicking below</p>
                <p>We're based in the UK, Australia, and Mexico, so are active throughout much of any 24 hour period - do join us.</p><br />
                <div class="uk-form-row">
                    <a href="https://incentinvites.herokuapp.com/" target="_blank" class="md-btn md-btn-success md-btn-large">Join us on Slack</a>
                </div>

            </div>
            <div class="uk-width-large-3-5">
                <h3 class="heading_c uk-margin-large-bottom">Contact Info</h3>

                <p>
                    <i class="material-icons md-24 uk-margin-small-right">&#xE0E1;</i> team@incentloyalty.com
                </p>
                <p>
                    <i class="material-icons md-24 uk-margin-small-right">&#xE0C8;</i> Sydney, Australia
                </p>
            </div>
        </div>
    </div>
</section>


<section class="section section_dark md-bg-blue-grey-700">
    <div class="uk-container uk-container-center">
        <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium-3-5 uk-text-center-medium">
                Copyright &copy; 2016 Incent Loyalty, All rights reserved.
            </div>
            <div class="uk-width-medium-2-5">
                <div class="uk-align-medium-right uk-text-center-medium">
                    <a href="https://www.facebook.com/IncentLoyalty/" class="uk-margin-medium-right" data-uk-tooltip="{offset: 12}" title="Facebook"><i class="uk-icon-facebook uk-icon-small md-color-white"></i></a><!--
                        --><a href="https://twitter.com/IncentLoyalty" class="uk-margin-medium-right" data-uk-tooltip="{offset: 12}" title="Twitter"><i class="uk-icon-twitter uk-icon-small md-color-white"></i></a>
                    <a href="https://www.linkedin.com/company/incent-loyalty" class="uk-margin-medium-right" data-uk-tooltip="{offset: 12}" title="LinkedIn"><i class="uk-icon-linkedin uk-icon-small md-color-white"></i></a>
                    <a href="https://plus.google.com/u/0/117174097636990010060" data-uk-tooltip="{offset: 12}" title="Google Plus"><i class="uk-icon-google-plus uk-icon-small md-color-white"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- google web fonts -->
<script>
    WebFontConfig = {
        google: {
            families: [
                'Source+Code+Pro:400,700:latin',
                'Roboto:300,400,500,700,400italic:latin'
            ]
        }
    };
    (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
            '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
    })();
</script>

<!-- add jquery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-rc1/jquery.min.js"></script>


<!-- common functions -->
<script src="/frontend_js_css/assets/js/common.min.js"></script>
<!-- uikit functions -->
<script src="/frontend_js_css/assets/js/uikit_custom.min.js"></script>
<!-- altair common functions/helpers -->
<script src="/frontend_js_css/assets/js/altair_lp_common.js"></script>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-83014212-1', 'auto');
    ga('send', 'pageview');

</script>


</body>
</html>